@font-face {
    font-family: 'Vida Pro 32';
    src: url('../../fonts/Vida32Pro.eot');
    src: url('../../fonts/Vida32Pro.eot?#iefix') format('embedded-opentype'), url('../../fonts/Vida32Pro.woff') format('woff'), url('../../fonts/Vida32Pro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*Плавный скрол документа по якорям*/
html {
    scroll-behavior: smooth;
}
/*HEADER*/
.header {
    position: relative;
}
.header__container {
    max-width: 1780px;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    width: 88.7vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo {
}
.header__menu_list {
    list-style-type: none;
    display: flex;
    padding-left: 0;
}
.header__menu_item {
    font-family: 'Vida Pro 32';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-right: 18px;
}
.header__menu__link {
    text-decoration: none;
    text-transform: uppercase;
    color: #4D4D4D;
}
/*Hamburger*/
.hamburger-menu {
}
#menu__toggle {
    opacity: 0;
}
#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
    background-color: #040404;
}
#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
    background-color: #040404;
}
#menu__toggle:checked ~ .header__menu_box {
    visibility: visible;
    left: 0;
    /*background-color: #040404;*/
}
.menu__btn {
    display: flex;
    align-items: center;
    position: relative;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
    top: -14px;
    color: #0D0D0D;
    left: 55px;
}
.menu__btn > span, .menu__btn > span::before, .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000000;
    transition-duration: 0.25s;
}
.menu__btn > span::before {
    content: '';
    top: -8px;
}
.menu__btn > span::after {
    content: '';
    top: 8px;
}
.header__menu_box {
    display: block;
    position: absolute;
    visibility: hidden;
    top: 80px;
    left: -100%;
    width: 100%;
    margin: 0;
    list-style: none;
    transition-duration: 0.25s;
    background-color: #FFFFFF;
    z-index: 2;
}
.header__box_line {
    height: 1px;
    width: 88.7vw;
    max-width: 1780px;
    position: relative;
    top: 0px;
    background-color: #000000;
    left: 1px;
    margin-right: auto;
    margin-left: auto;
}
.header__box_menu {
    display: none;
}
.header__box_container {
    width: 88.7vw;
    max-width: 1780px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    height: 90px;
}
.info__menu {
    font-family: 'Vida Pro 32';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    list-style-type: none;
}
.info__menu li {
    margin-right: 18px;
}
.info__menu a {
    color: #4D4D4D;
    text-decoration: none;
}
.header__socials_container {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    margin-left: 29px;
    align-items: flex-end;
}
.header__socials_container li {
    margin-left: 30px;
}
.header__socials_container i {
    color: #000000;
}
.header__menu_inner {
    display: none;
}
.header__inner_search {
    display: none;
}
.header__box_achor-menu--title {
    display: none;
}
/*****/
input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}
input::-webkit-search-decoration, input::-webkit-search-cancel-button {
    display: none;
}
input[type=search] {
    background: url(./img/search.png) 33px 5px no-repeat #000000;
    border: solid 1px #CCC;
    padding: 1px 28px 1px 32px;
    width: auto;
    -webkit-border-radius: 1%;
    -moz-border-radius: 1%;
    border-radius: 1%;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all 0.5s;
}
input[type=search] {
    width: 14px;
    padding-left: 11px;
    color: transparent;
    cursor: pointer;
}
input[type=search]:before {
    content: "\f002";
    font-family: "Font Awesome";
    font-size: 16px;
    color: #F9F0DA;
}
input[type=search]:hover {
    background-color: #FFF;
}
input[type=search]:focus {
    width: 130px;
    padding-left: 7px;
    color: #000;
    background-color: #FFF;
    cursor: auto;
    margin-left: 20px;
}
@media (min-width: 1340px) and (max-width: 1540px) {
    .menu__btn {
        left: 15px;
    }
}
@media (min-width: 1240px) and (max-width: 1340px) {
    .menu__btn {
        left: -6px;
    }
}
@media (min-width: 960px) and (max-width: 1240px) {
    .menu__btn {
        display: flex;
        align-items: center;
        position: relative;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
        top: -14px;
        left: 17px;
        color: #0D0D0D;
    }
    .hamburger-menu {
        margin-left: -53px;
    }
    .header__menu {
        display: none;
    }
    .header__box_menu {
        display: block;
        width: 88.7vw;
        margin-left: auto;
        margin-right: auto;
    }
    .header__menu_list {
        justify-content: space-between;
    }
    .header__menu_item:last-child {
        margin-right: 0px;
    }
    .header__box_container {
        height: 61px;
        justify-content: space-between;
    }
    .info__menu {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        list-style-type: none;
        padding-left: 0;
    }
    .info__menu li {
        margin-right: 18px;
    }
    .info__menu a {
        color: #4D4D4D;
        text-decoration: none;
    }
    .header__socials_container {
        list-style-type: none;
        padding-left: 0;
        display: flex;
        margin-left: 29px;
        align-items: flex-end;
    }
    .header__socials_container li {
        margin-left: 30px;
    }
    .header__socials_container i {
        color: #000000;
    }
    .header__menu_inner {
        display: none;
    }
}
@media (min-width: 640px) and (max-width: 960px) {
    .menu__btn {
        display: flex;
        align-items: center;
        position: relative;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
        margin-left: auto;
        margin-right: auto;
        top: -14px;
        left: 17px;
        color: #0D0D0D;
    }
    .hamburger-menu {
        margin-left: -53px;
    }
    .header__menu {
        display: none;
    }
    .header__box_menu {
        display: block;
        width: 88.7vw;
        margin-left: auto;
        margin-right: auto;
    }
    .header__menu_list {
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .header__menu_item {
        margin-bottom: 15px;
        margin-right: 25px;
    }
    .header__menu_item:last-child {
        margin-right: 0px;
    }
    .header__box_container {
        height: 61px;
        justify-content: space-between;
    }
    .info__menu {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        list-style-type: none;
        padding-left: 0;
    }
}
@media (max-width: 640px) {
    .header__search {
        display: none;
    }
    .header {
        position: relative;
    }
    .header__container {
        max-width: 1780px;
        margin-left: auto;
        margin-right: auto;
        height: 80px;
        width: 80vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header__menu_box {
        display: block;
        position: absolute;
        visibility: hidden;
        top: 80px;
        left: -100%;
        width: 100%;
        margin: 0;
        list-style: none;
        transition-duration: 0.25s;
        background-color: #FFFFFF;
        z-index: 2;
    }
    .hamburger-menu {
        margin-left: -53px;
    }
    .menu__btn {
        display: flex;
        align-items: center;
        position: relative;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
        top: -13px;
        color: #0D0D0D;
        left: 0;
    }
    .header__menu {
        display: none;
    }
    .header__box_menu {
        display: block;
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
    }
    .header__menu_list {
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 80vw;
    }
    .header__menu_item {
        margin-bottom: 15px;
        margin-right: 25px;
    }
    .header__menu_item:last-child {
        margin-right: 0px;
    }
    .header__box_container {
        height: 61px;
        width: 80vw;
        flex-wrap: wrap;
        position: relative;
    }
    .info__menu {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        list-style-type: none;
        padding-left: 0;
        flex-wrap: wrap;
    }
    .info__menu li {
        margin-right: 25px;
        white-space: nowrap;
        margin-bottom: 15px;
    }
    .header__socials_container {
        list-style-type: none;
        padding-left: 0;
        display: flex;
        align-items: center;
        padding-right: 0;
        margin-left: 0;
        position: absolute;
        right: 0px;
        top: 33px;
    }
    .header__socials_container li {
        margin-left: 26px;
    }
    .header__box_line {
        display: none;
    }
    .header__box_line-mobile {
        display: block;
        height: 1px;
        width: 80vw;
        position: relative;
        top: 1px;
        background-color: #000000;
        left: 1px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 30px;
    }
    .line__up {
        margin-top: 3px;
    }
    .header__box_achor-menu {
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
    }
    .header__box_achor-menu--title {
        display: block;
        font-family: 'Vida Pro 32';
        font-weight: 400;
        font-size: 14px;
        line-height: 119.5%;
        color: #0066FF;
        margin-top: 20px;
    }
    .header__menu_inner {
        display: block;
        font-family: 'Vida Pro 32';
        font-weight: 400;
        font-size: 16px;
        line-height: 35px;
        text-transform: uppercase;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding-left: 0;
    }
    .header__menu_inner li {
        margin-right: 12px;
    }
    .header__menu_inner li a {
        text-decoration: none;
        color: #4D4D4D;
    }
    .header__inner_search {
        display: block;
        width: 83%;
        margin-right: auto;
        margin-left: auto;
        position: relative;
    }
    form {
        position: relative;
        width: 100%;
        margin: 0 auto;
    }
    .header__inner_search form {
    }
    .header__inner_search input, .header__inner_search button {
        border: none;
        outline: none;
        background: transparent;
    }
    .header__inner_search input {
        width: 100%;
        height: 40px;
        padding-left: 10px;
        border: 1px solid #858585;
    }
    .header__inner_search button {
        height: 40px;
        width: 40px;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
    }
}
/*Hero*/
.hero {
    color: #FFFFFF;
}
.hero__container {
    height: 460px;
    width: 100%;
}
.hero__img {
    background: url(./img/2.jpg) 0 0 / cover;
    z-index: -1;
    width: 100%;
    /*height: calc(100vh - 100px);*/
    height: 460px;
    position: absolute;
}
.hero__content {
    text-align: center;
    /*max-width: 56vw;*/
    margin-left: auto;
    margin-right: auto;
    width: 1370px;
}
.hero__tags {
    font-family: 'Vida Pro 32';
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    top: 30px;
}
.hero h1 {
    font-family: 'Vida Pro 32';
    font-weight: 700;
    font-size: 72px;
    line-height: 86px;
    text-transform: uppercase;
    margin: 95px auto 0px;
}
.hero__intro {
    font-family: 'Vida Pro 32';
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    margin: 30px auto 0;
}
.menu {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
}
.menu__list {
    font-family: 'Vida Pro 32';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    list-style-type: none;
    display: flex;
}
.menu__item {
    margin-right: 2.9vw;
}
.menu__link {
    color: #FFFFFF;
    text-decoration: none;
}
.partners {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.partners h4 {
    font-family: 'Vida Pro 32';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #858585;
    margin-left: 390px;
    text-transform: uppercase;
}
.partners__list {
    display: flex;
    align-items: center;
    margin-right: 13vw;
}
.partners__item {
    margin-left: 3.3vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.partners__item img {
    height: 28px;
}
@media (min-width: 1540px) and (max-width: 1980px) {
    .partners {
        height: 80px;
        display: flex;
        justify-content: space-between;
    }
    .partners h4 {
        margin-left: 140px;
    }
    .partners__list {
        margin-right: 100px;
    }
    .partners__item {
        margin-left: 34px;
    }
}
@media (min-width: 1240px) and (max-width: 1540px) {
    .hero {
        color: #FFFFFF;
    }
    .hero__container {
        height: 450px;
        width: 100%;
    }
    .hero__img {
        background: url(./img/2.jpg) 0 0 / cover;
        z-index: -1;
        width: 100%;
        /*height: calc(100vh - 100px);*/
        height: 450px;
        position: absolute;
    }
    .hero__content {
        text-align: center;
        /*max-width: 56vw;*/
        margin-left: auto;
        margin-right: auto;
        width: 976px;
    }
    .hero__tags {
        font-family: 'Vida Pro 32';
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        text-align: center;
        position: relative;
        top: 30px;
    }
    .hero h1 {
        font-family: 'Vida Pro 32';
        font-weight: 700;
        font-size: 64px;
        line-height: 86px;
        text-transform: uppercase;
        margin: 95px auto 0px;
    }
    .hero__intro {
        font-family: 'Vida Pro 32';
        font-weight: 400;
        font-size: 22px;
        line-height: 26px;
        margin: 30px auto 0;
    }
    .menu {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 34px;
    }
    .menu__list {
        font-family: 'Vida Pro 32';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        list-style-type: none;
        display: flex;
    }
    .menu__item {
        margin-right: 2.9vw;
    }
    .menu__link {
        color: #FFFFFF;
        text-decoration: none;
    }
    .partners {
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .partners h4 {
        font-family: 'Vida Pro 32';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        color: #858585;
        margin-left: 174px;
        text-transform: uppercase;
    }
}
@media (min-width: 960px) and (max-width: 1240px) {
    .hero {
        color: #FFFFFF;
    }
    .hero__container {
        height: 450px;
        width: 100%;
    }
    .hero__img {
        background: url(./img/2.jpg) 0 0 / cover;
        z-index: -1;
        width: 100%;
        /*height: calc(100vh - 100px);*/
        height: 450px;
        position: absolute;
    }
    .hero__content {
        text-align: center;
        /*max-width: 56vw;*/
        margin-left: auto;
        margin-right: auto;
        width: 880px;
    }
    .hero__tags {
        font-family: 'Vida Pro 32';
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        text-align: center;
        position: relative;
        top: 30px;
    }
    .hero h1 {
        font-family: 'Vida Pro 32';
        font-weight: 700;
        font-size: 64px;
        line-height: 86px;
        text-transform: uppercase;
        margin: 95px auto 0px;
    }
    .hero__intro {
        font-family: 'Vida Pro 32';
        font-weight: 400;
        font-size: 22px;
        line-height: 26px;
        margin: 30px auto 0;
    }
    .menu {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 34px;
    }
    .menu__list {
        font-family: 'Vida Pro 32';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        list-style-type: none;
        display: flex;
    }
    .menu__item {
        margin-right: 2.9vw;
    }
    .menu__link {
        color: #FFFFFF;
        text-decoration: none;
    }
    .partners {
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .partners h4 {
        font-family: 'Vida Pro 32';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        color: #858585;
        margin-left: 112px;
        text-transform: uppercase;
    }
}
@media (min-width: 640px) and (max-width: 960px) {
    .hero {
        color: #FFFFFF;
    }
    .hero__container {
        height: 590px;
        width: 100%;
    }
    .hero__img {
        background: url(./img/2.jpg) 0 0 / cover;
        z-index: -1;
        width: 100%;
        /*height: calc(100vh - 100px);*/
        height: 590px;
        position: absolute;
    }
    .hero__content {
        text-align: center;
        /*max-width: 56vw;*/
        margin-left: auto;
        margin-right: auto;
        width: 580px;
    }
    .hero__tags {
        font-family: 'Vida Pro 32';
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        text-align: center;
        position: relative;
        top: 30px;
    }
    .hero h1 {
        font-family: 'Vida Pro 32';
        font-weight: 700;
        font-size: 58px;
        line-height: 86px;
        text-transform: uppercase;
        margin: 95px auto 0px;
    }
    .hero__intro {
        font-family: 'Vida Pro 32';
        font-weight: 400;
        font-size: 22px;
        line-height: 26px;
        margin: 30px auto 0;
    }
    .menu {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 21px;
    }
    .menu__list {
        font-family: 'Vida Pro 32';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        list-style-type: none;
        display: flex;
    }
    .menu__item {
        margin-right: 2.9vw;
    }
    .menu__link {
        color: #FFFFFF;
        text-decoration: none;
    }
    .partners {
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .partners h4 {
        font-family: 'Vida Pro 32';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        color: #858585;
        margin-left: 122px;
        text-transform: uppercase;
    }
}
@media (min-width: 320px) and (max-width: 640px) {
    .hero__container {
        height: 640px;
    }
    .hero__img {
        height: 640px;
        background: url(./img/1.jpg) 0 0 / cover;
        /*background-image: ;*/
    }
    .hero__tags {
        font-family: 'Vida Pro 32';
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        text-align: center;
        position: relative;
        top: 31px;
    }
    .hero__content {
        margin-left: auto;
        margin-right: auto;
        width: 280px;
    }
    .hero h1 {
        font-size: 32px;
        line-height: 38px;
        text-transform: uppercase;
        margin: 95px auto 0;
    }
    .hero__intro {
        font-family: 'Vida Pro 32';
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        margin: 30px auto 0;
    }
    .menu {
        display: none;
    }
    .partners {
        height: 100px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: left;
        padding-left: 12px;
        padding-right: 40px;
    }
    .partners h4 {
        font-size: 16px;
        margin-top: 18px;
        margin-right: 0;
        margin-left: 27px;
        letter-spacing: 0.05em;
    }
    .partners__list {
        margin-right: 23px;
        padding-left: 0;
        margin-bottom: 41px;
    }
    .partners__item {
        margin-left: 27px;
        display: block;
        align-items: center;
    }
    .partners__item img {
        /*width: 52%;*/
        height: 22px;
    }
}
/*Application practice*/
.separate {
    height: 40px;
    background: linear-gradient(360deg, rgba(217, 217, 217, 0.5) 0%, rgba(217, 217, 217, 0) 87.5%);
    transform: matrix(1, 0, 0, -1, 0, 0);
    border-bottom: 0.5px solid #9B9B9B;
}
.article-list h2 {
    font-family: 'Vida Pro 32';
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 33px;
    margin-left: 390px;
    margin-top: 0;
}
.article-list__container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 1780px;
    width: 88.7vw;
    margin-left: auto;
    margin-right: auto;
}
.article-list__item.rectangle {
    width: 580px;
}
.rectangle .article-list__photo img {
    width: 580px;
    max-width: none;
    height: 280px;
    display: block;
}
.article-list__photo img {
    max-width: none;
    width: 280px;
    height: 280px;
}
.article-list__item {
    height: auto;
    width: 280px;
    margin-right: 20px;
    /*margin-left: 10px;*/
    margin-bottom: 40px;
    position: relative;
    padding-bottom: 0px;
}
.article-list__item_title h3 {
    width: 100%;
    margin: 20px 0;
    font-family: 'Vida Pro 32';
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}
.article-list__item_title h3 a {
    color: #000000;
    text-decoration: none;
}
.article-list__item_intro {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    display: block;
    margin-bottom: 120px;
}


.articles__container_list_2{
    margin-bottom: 50px;
}
.articles__container_list_2 header.article__item__item_title {
    width: auto;
}
.articles__container_list_2 .article__item__item_intro{
    width: auto;
}
.articles__container_list_2 .article__item__photo img{
    width: auto;
}
.articles__container_list_2 .article__item.rectangle{
    width: 580px;
}
.articles__container_list_2 .article__item.square{
    width: 280px;
}
.articles__container_list_2 .article__item__photo{
    box-sizing: border-box;
    position: relative;
    display: inline-block;
}
.articles__container_list_2 .article__item{
    margin-right: 30px;
}
.articles__container_list_2 .article__item_title h3 {
    width: 100%;
    margin: 20px 0;
    font-family: 'Vida Pro 32';
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}
.articles__container_list_2 .article__item_title h3 a {
    color: #000000;
    text-decoration: none;
}
.articles__container_list_2 .article__item_intro {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    display: block;
    height: 200px;
}
.articles__container_list_2 .article__item_info_list {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    list-style-type: none;
    padding-left: 0;
}
.articles__container_list_2 header.article__item_title {
    height: 90px;
}
.articles__container_list_2 .article__info {
    position: initial;
    bottom: 0px;
}
@media (min-width: 320px) and (max-width: 640px){
    .articles__container_list_2 .article__info {
        padding-left: 0;
    }
    .articles__container_list_2 .article__item_title h3 {
        font-size: 18px;
        line-height: 20px;
    }    
}

.articles__container_list_2 button.slick-next{
    right: 0 !important;
    margin-top: -90px;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    background-image: url(../../img/images2/arrowslideright.png);
}
.articles__container_list_2 button.slick-prev {
    background-image: url(../../img/images2/arrowslideleft.png);
    z-index: 1;
    left: 10px !important;
    margin-top: -90px;
    height: 60px;
    width: 60px; 
}
.articles__container_list_2 .slick-next:before, .articles__container_list_2 .slick-prev:before{
    content: '';
}


.article__info {
    position: absolute;
    bottom: 0px;
}
.article-list__item_info {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    list-style-type: none;
    padding-left: 0;
}
.article-list__item_info a {
    color: #828282;
    text-decoration: none;
}
.article-list__item_info_list {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    list-style-type: none;
    padding-left: 0;
}
.article-list__item_info_list li {
    margin-bottom: 5px;
}
.article-list__item_info_list date {
    margin-right: 40px;
    margin-bottom: 42px;
}
.article-list__item_info_list a {
    color: #333333;
    text-decoration: none;
    line-height: 18.9px;
}
.bg-author {
    padding: 3px 0 3px 33px;
    background: url(img/a_i.png) no-repeat 0 0;
}
.details {
    /*margin-top: 0px;*/
    width: 100%;
}
.details__button img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -10px;
    margin-top: 0;
    cursor: pointer;
}
.details__link_wrap {
    height: 40px;
    background: linear-gradient(360deg, rgba(217, 217, 217, 0.5) 0%, rgba(217, 217, 217, 0) 87.5%);
    text-align: center;
    display: flex;
    justify-content: center;
    border-bottom: 0.5px solid #9B9B9B;
}
.details__link {
    margin-top: 10px;
}
.details__link a {
    font-family: 'Vida Pro 32';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #858585;
    text-decoration: none;
}
@media (min-width: 1980px) and (max-width: 2400px) {
    .article-list h2 {
        /*margin-top: 30px;*/
        margin-bottom: 30px;
        margin-left: 140px;
    }
    .article-list__item_info_list date {
        margin-right: 32px;
    }
}
@media (min-width: 1540px) and (max-width: 1980px) {
    .article-list h2 {
        margin-bottom: 33px;
        margin-left: 140px;
    }
    .article-list__item {
        margin-bottom: 80px;
    }
    .details {
        width: 100%;
    }
    .details__button img {
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width: 1829px) {
    .article-list__container {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 88.7vw;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (min-width: 1240px) and (max-width: 1540px) {
    .separate {
        height: 40px;
        background: linear-gradient(360deg, rgba(217, 217, 217, 0.5) 0%, rgba(217, 217, 217, 0) 87.5%);
        transform: matrix(1, 0, 0, -1, 0, 0);
        border-bottom: 0.5px solid #9B9B9B;
    }
    .article-list h2 {
        margin-bottom: 33px;
        margin-left: 174px;
    }
    .article-list__item {
        margin-bottom: 80px;
        height: auto;
    }
}
@media (min-width: 960px) and (max-width: 1240px) {
    .article-list h2 {
        font-family: 'Vida Pro 32';
        font-weight: 400;
        font-size: 28px;
        line-height: 28px;
        text-align: left;
        text-transform: uppercase;
        margin-bottom: 33px;
        margin-left: 112px;
    }
    .article-list__item {
        height: auto;
        width: 280px;
        position: relative;
        margin-bottom: 80px;
    }
    .details {
        width: 100%;
        margin-top: -30px;
    }
    .details__button img {
        margin-left: auto;
        margin-right: auto;
    }
    .details__link_wrap {
        height: 40px;
        background: linear-gradient(360deg, rgba(217, 217, 217, 0.5) 0%, rgba(217, 217, 217, 0) 87.5%);
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .details__link {
        margin-top: 10px;
    }
    .details__link a {
        font-family: 'Vida Pro 32';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #858585;
        text-decoration: none;
    }
}
@media (min-width: 640px) and (max-width: 960px) {
    .article-list h2 {
        margin-bottom: 33px;
        margin-left: 122px;
    }
    .article-list__container {
        display: flex;
        flex-wrap: wrap;
        width: 88.7vw;
        margin: 0 auto;
        padding-left: 0px;
        justify-content: flex-start;
    }
    .article-list__item {
        height: auto;
        width: 280px;
        position: relative;
        margin-bottom: 60px;
    }
    .article-list__item_title h3 {
        margin: 20px 0 10px;
    }
}
@media (min-width: 320px) and (max-width: 640px) {
    .separate {
        height: 40px;
        background: linear-gradient(360deg, rgba(217, 217, 217, 0.5) 0%, rgba(217, 217, 217, 0) 87.5%);
        transform: matrix(1, 0, 0, -1, 0, 0);
        border-bottom: 0.5px solid #9B9B9B;
    }
    .article-list h2 {
        font-size: 24px;
        line-height: 27px;
        text-align: left;
        margin-bottom: 32px;
        /*margin-left: 16vw;*/
        margin-left: 39px;
    }
    .article-list__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
        width: auto;
    }
    .article-list__item.rectangle {
        width: auto;
    }
    .rectangle .article-list__photo img {
        width: 100%;
        max-width: none;
        height: auto;
        display: block;
    }
    .article-list__photo img {
        width: 100%;
        height: auto;
    }
    .article-list__item {
        height: auto;
        width: 100vw;
        position: relative;
        padding-bottom: 0px;
        margin-bottom: 80px;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }
    .article-list__item_title h3 {
        /*margin: 20px 0 20px 28px;*/
        padding: 10px 0 10px 28px;
        font-size: 22px;
    }
    .article-list__item_intro {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        padding-left: 28px;
        padding-right: 20px;
        margin-bottom: 50px;
    }
    .article__info {
        position: static;
        /*bottom: 0;*/
        /*left: 28px;*/
        padding-left: 28px;
        padding-right: 26px;
    }
    .details {
        margin-top: -20px;
        width: 100%;
    }
    .details__button img {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: -10px;
        width: 24%;
    }
    .details__link_wrap {
        height: 40px;
        background: linear-gradient(360deg, rgba(217, 217, 217, 0.5) 0%, rgba(217, 217, 217, 0) 87.5%);
        text-align: center;
        display: flex;
        justify-content: center;
        border-bottom: 0.5px solid #9B9B9B;
    }
    .details__link a {
        font-size: 12px;
        line-height: 16px;
    }
}
/*FAQ*/
.faq_ancor {
    height: 1px;
    margin-top: -1px;
}
.faq {
}
.faq h2 {
    font-family: 'Vida Pro 32';
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    text-align: left;
    text-transform: uppercase;
    margin-top: 31px;
    margin-bottom: 33px;
    margin-left: 390px;
}
.faq__container {
    background: #A8A8A8;
    color: #FFFFFF;
    position: relative;
}
.faq__item-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 1780px;
    margin: 0 auto;
    justify-content: flex-start;
    width: auto;
}
.faq__item {
    width: 20%;
    padding-left: 49px;
    padding-top: 40px;
    margin-left: 0;
}
.faq__item_header {
    width: auto;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.faq__item_header-block {
    display: none;
}
.faq__item_button {
    color: #EAEAEA;
    z-index: 2;
    font-size: 40px;
    text-align: center;
    margin-top: auto;
}
.faq__item_content {
    display: none;
}
.faq__item_header:focus ~ .faq__item_content, .faq__item:active ~ .faq__item_content, .faq__item_content:hover {
    display: block;
}
.faq__item_header:focus > .faq__item_button, .faq__item:active > .faq__item_button, .faq__item_content:hover {
    display: none;
}
.faq__item_header:focus > .faq__item_header-block, .faq__item:active > .faq__item_header-block {
    display: block;
}
.faq__item_content {
    position: absolute;
    width: 100%;
    left: 0;
    background-color: #EAEAEA;
    z-index: 1;
}
.faq__item:focus, .faq__item:active, .faq__item:hover {
    color: #000000;
    background-color: #EAEAEA;
}
.faq__item_header:hover > .question__title {
    color: #707070;
}
.question__title {
    font-family: 'Georgia';
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
.question__inner {
    font-family: 'Vida Pro 32';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    align-items: center;
    margin-top: 10px;
}
.question__inner_autor {
    font-family: 'Georgia';
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-top: 10px;
    margin-bottom: 6px;
}
.question__inner_autor-info {
    font-family: 'Georgia';
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 6px;
}
.question__inner_autor-info_function {
    font-family: 'Georgia';
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
.answer__title {
    font-family: 'Georgia';
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    /*margin-top: 40px;*/
    position: absolute;
    top: 40px;
}
.answer__inner {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    width: 100%;
    max-width: 1780px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 69px;
    color: #000000;
    display: flex;
    padding-left: 2.7vw;
    /*padding-right: 0;*/
    margin-bottom: 70px;
}
.answer__inner_text {
    width: 30vw;
    padding-right: 10px;
    margin-right: 72px;
}
.respondent {
    width: 19%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.respondent__wrap {
    width: 100%;
}
.respondent_photo {
    height: 80px;
    width: 80px;
    /*+border-radius: 50%;*/
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}
.faq__item_content > .faq__item_button {
    color: #000000;
    display: inline-block;
    transform: rotate(45deg);
    margin-right: auto;
    margin-left: auto;
    position: relative;
    left: 49%;
    bottom: 30px;
    cursor: pointer;
}
.faq__details {
    background-color: #A8A8A8;
    display: none;
}
.faq__details__button img {
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    max-width: none;
    padding-top: 42px;
    margin-top: -1px;
}
.faq__details__link_wrap {
    text-align: center;
}
.faq__details__link_wrap a {
    color: #FFFFFF;
}
.faq__details__link {
    margin-top: 10px;
    padding-bottom: 8px;
}
.faq__details__link a {
    font-family: 'Vida Pro 32';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none;
}
@media (min-width: 1980px) and (max-width: 2400px) {
    .faq h2 {
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 140px;
    }
}
@media (min-width: 1540px) and (max-width: 1980px) {
    .faq h2 {
        margin-left: 140px;
    }
}
@media (min-width: 1240px) and (max-width: 1540px) {
    .faq h2 {
        margin-left: 174px;
    }
    .faq__item {
        width: 25%;
    }
}
@media (min-width: 960px) and (max-width: 1240px) {
    .faq__item {
        width: 33.33%;
        padding-right: 20px;
    }
    .faq h2 {
        margin-left: 112px;
    }
    .answer__inner {
        margin-right: auto;
        margin-left: auto;
        color: #000000;
        display: normal;
        padding-left: 4.6vw;
        padding-right: 48px;
        margin-bottom: 40px;
        padding-top: 58px;
    }
    .answer__inner {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        margin-top: 10px;
        display: block;
    }
    .answer__inner_text {
        width: 50%;
        padding-right: 10px;
        margin-right: 72px;
        margin-bottom: 30px;
    }
    .respondent__wrap {
        width: 49%;
        position: absolute;
        right: 0;
        top: 19%;
    }
}
@media (min-width: 640px) and (max-width: 960px) {
    .faq h2 {
        font-family: 'Vida Pro 32';
        font-weight: 400;
        font-size: 28px;
        line-height: 28px;
        text-align: left;
        text-transform: uppercase;
        margin-top: 31px;
        margin-bottom: 33px;
        margin-left: 123px;
    }
    .faq__item {
        width: 50%;
        margin-bottom: 57px;
        padding-top: 40px;
        padding-right: 20px;
    }
    .answer__inner {
        margin-right: auto;
        margin-left: auto;
        color: #000000;
        display: normal;
        padding-left: 4.6vw;
        padding-right: 48px;
        margin-bottom: 40px;
        padding-top: 58px;
    }
    .question__title {
        font-family: 'Georgia';
        font-style: italic;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #FFFFFF;
    }
    .question__inner {
        font-family: 'Vida Pro 32';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        align-items: center;
        margin-top: 10px;
    }
    .answer__title {
        font-family: 'Georgia';
        font-style: italic;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #000000;
        /*margin-top: 40px;*/
        position: absolute;
        top: 40px;
    }
    .question__inner_autor {
        font-family: 'Georgia';
        font-style: italic;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #4D4D4D;
        margin-top: 10px;
    }
    .question__inner_autor-info {
        font-family: 'Georgia';
        font-style: italic;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #4D4D4D;
    }
    .question__inner_autor-info_function {
        font-family: 'Georgia';
        font-style: italic;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #4D4D4D;
    }
    .answer__inner {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        margin-top: 10px;
        display: block;
    }
    .answer__inner_text {
        width: 85.4vw;
        padding-right: 10px;
        margin-right: 72px;
        float: page;
        margin-bottom: 30px;
    }
    .respondent__wrap {
        width: 100%;
        text-align: left;
        display: block;
    }
    .respondent {
        margin-left: 0;
        width: 40%;
    }
    .respondent_photo {
        height: 80px;
        width: 80px;
        /*+border-radius: 50%;*/
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        -khtml-border-radius: 50%;
        border-radius: 50%;
        margin-left: 0;
        float: left;
    }
    .respondent__wrap > .question__inner_autor, .respondent__wrap > .question__inner_autor-info, .respondent__wrap > .question__inner_autor-info_function {
        margin-left: 100px;
        width: 180px;
    }
    .answer__inner a {
        color: #000000;
        text-decoration: none;
    }
}
@media (min-width: 320px) and (max-width: 640px) {
    .faq h2 {
        font-size: 24px;
        line-height: 28px;
        margin-top: 36px;
        margin-bottom: 36px;
        /*margin-left: 16vw;*/
        margin-left: 39px;
    }
    .faq__item {
        width: 100%;
        margin-bottom: 53px;
        padding-top: 37px;
        padding-left: 39px;
        padding-right: 7px;
    }
    .faq__item_button {
        color: #FFFFFF;
        z-index: 2;
        font-size: 40px;
        text-align: center;
        margin-left: -39px;
    }
    .answer__inner {
        margin-right: auto;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        margin-top: 10px;
        display: block;
        margin-left: auto;
        color: #000000;
        display: normal;
        margin-right: auto;
        padding-left: 7.8vw;
        padding-right: 48px;
        margin-bottom: 40px;
        padding-top: 58px;
    }
    .question__title {
        font-family: 'Georgia';
        font-style: italic;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #FFFFFF;
    }
    .question__inner {
        font-family: 'Vida Pro 32';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        align-items: center;
        margin-top: 10px;
    }
    .answer__title {
        font-family: 'Georgia';
        font-style: italic;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #000000;
        /*margin-top: 40px;*/
        position: absolute;
        top: 40px;
    }
    .question__inner_autor {
        font-family: 'Georgia';
        font-style: italic;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #4D4D4D;
        margin-top: 10px;
    }
    .question__inner_autor-info {
        font-family: 'Georgia';
        font-style: italic;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #4D4D4D;
    }
    .question__inner_autor-info_function {
        font-family: 'Georgia';
        font-style: italic;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #4D4D4D;
    }
    .answer__inner_text {
        width: 85.4vw;
        padding-right: 10px;
        margin-right: 72px;
        float: page;
        margin-bottom: 30px;
    }
    .respondent__wrap {
        width: 100%;
        text-align: left;
        display: block;
    }
    .respondent {
        margin-left: 0;
        width: 40%;
    }
    .respondent_photo {
        height: 80px;
        width: 80px;
        /*+border-radius: 50%;*/
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        -khtml-border-radius: 50%;
        border-radius: 50%;
        margin-left: 0;
        float: left;
    }
    .respondent__wrap > .question__inner_autor, .respondent__wrap > .question__inner_autor-info, .respondent__wrap > .question__inner_autor-info_function {
        margin-left: 100px;
        width: 180px;
    }
    .answer__inner a {
        color: #000000;
        text-decoration: none;
    }
}
/*Glossary*/
#glo {
    height: 1px;
}
.section__header {
    /*should actually be aplied to all section headers*/
    font-family: 'Vida Pro 32';
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    text-align: left;
    text-transform: uppercase;
    margin-top: 21px;
    /*23 + 50*/
    margin-bottom: 21px;
    margin-left: 390px;
}
.glossary__container {
    background: #0066FF;
    color: #FFFFFF;
    margin-bottom: 0px;
    overflow: hidden;
}
.glossary__top-arrow img {
    margin-left: auto;
    margin-right: auto;
}
.glossary__list_wrap {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    max-width: 1780px;
}
.glossary__list {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 78px;
    margin-bottom: 56px;
    padding-left: 0;
}
.glossary__list_item {
    font-family: 'Vida Pro 32';
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    padding: 20px 28px;
}
.glossary__list_item.glossary1 {
    position: relative;
}
.glossary__list_item ul {
    list-style-type: none;
}
.glossary__list_item ul li {
    display: none;
}
/*
.glossary__list_item:hover.glossary__list_item ul li {
    display: block;
}
*/
.glossary__list_item:hover {
    color: #0066FF;
    background: #FFFFFF;
    text-decoration: underline;
    cursor: pointer;
}
.glossary__list_item.opened {
    color: #0066FF;
    background: #FFFFFF;
    text-decoration: underline;
    cursor: pointer;
}
.glossary__content {
    z-index: 1;
    color: #0066FF;
    background: #FFFFFF;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-transform: none;
    width: 100vw;
    margin-left: calc((1780px - 100vw) / 2);
    position: absolute;
    left: 0px;
    /* padding-left: 40px; */
    transform: translate(0px, 20px);
}
.glossary__content.glossary1 {
    width: 600px;
    left: auto;
    margin-left: 0;
}
.glossary__content > div {
    position: relative;
    max-width: 600px;
    padding: 28px;
    margin: auto;
}
.glossary__content.glossary2 div {
    padding: 28px 0px 28px 28px;
}
.glossary__content_background {
    background: #FFFFFF;
    width: 200vw;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transform: translateX(-50%);
}
.glossary__content .content__closer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: auto;
    font-size: 40px;
    margin-top: 25px;
}
.glossary__content .content__closer > span {
    transform: rotate(45deg);
}
.glossary__bottom-arrow img {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 35px;
}
@media (min-width: 1980px) and (max-width: 2400px) {
    .glossary h2 {
        margin-left: 140px;
    }
}
@media (min-width: 1540px) and (max-width: 1980px) {
    .glossary h2 {
        margin-left: 140px;
    }
    .glossary__content {
        margin-left: -5vw;
    }
}
@media (min-width: 1240px) and (max-width: 1540px) {
    .glossary h2 {
        margin-left: 174px;
    }
    .glossary__content {
        margin-left: -5vw;
    }
}
@media (min-width: 960px) and (max-width: 1240px) {
    .glossary h2 {
        margin-left: 112px;
    }
    .glossary__content {
        margin-left: -5vw;
    }
}
@media (min-width: 640px) and (max-width: 960px) {
    .glossary h2 {
        margin-left: 122px;
    }
    .glossary__list_wrap {
        width: auto;
    }
    .glossary__list {
        padding-right: 40px;
        padding-left: 40px;
    }
    .glossary__list_item:hover.glossary__list_item ul li {
        display: block;
    }
    .glossary__list_item:hover {
        text-decoration: underline;
    }
    .glossary__content {
        margin-left: 0;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .glossary__content p {
        width: 90%;
    }
}
@media (min-width: 320px) and (max-width: 640px) {
    .glossary h2 {
        margin-left: 40px;
    }
    .glossary__container {
        margin-bottom: 80px;
    }
    .glossary__bottom-arrow img {
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
    .glossary__list_wrap {
        margin-left: 0;
        margin-right: 0;
        width: auto;
    }
    .glossary__list_item {
        font-size: 20px;
        width: 100%;
    }
    .glossary__list_item:hover.glossary__list_item ul li {
        display: block;
    }
    .glossary__list_item:hover {
        text-decoration: underline;
    }
    .glossary__content {
        margin-left: 0;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .glossary__content.glossary1 {
        width: 100vw;
        left: 0;
    }
}
/*Bonnom menu*/
.bottom__nav_container {
    font-family: 'Vida Pro 32';
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    list-style-type: none;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: -90px;
}
.bottom__nav_item {
    margin-left: 2.8vw;
    margin-top: 36px;
    margin-right: 2.8vw;
    text-decoration: none;
}
.bottom__nav_item a {
    text-decoration: none;
    color: #FEFEFE;
}
@media (min-width: 320px) and (max-width: 640px) {
    .bottom__nav_container {
        display: none;
    }
}
/*Footer*/
.footer {
    background: url(../img/2.jpg) 0 0 / cover;
    height: 360px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    margin-top: 72px !important;
}
.footer h2 {
    font-family: 'Vida Pro 32';
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    text-decoration-line: underline;
    text-transform: uppercase;
    margin-top: 130px;
    text-decoration: underline;
}
.footer__copyright {
    font-family: 'Vida Pro 32';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin-top: 40px;
}
.footer__socials_container {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding-left: 0;
}
.footer__socials_container li {
    margin-right: 2.5vw;
    margin-top: 45px;
    margin-left: 2.5vw;
}
.footer__socials_container a {
    color: #FFFFFF;
    font-size: 20px;
}
@media (min-width: 640px) and (max-width: 960px) {
    .footer__nav_container {
        font-size: 20px;
        line-height: 23px;
    }
}
@media (min-width: 320px) and (max-width: 640px) {
    .footer h2 {
        font-size: 24px;
        line-height: 29px;
        margin-top: 60px;
        display: inline-block;
        margin-right: 30px;
        margin-left: 30px;
    }
    .footer__copyright {
        font-family: 'Vida Pro 32';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        margin-top: 40px;
    }
    .footer__socials_container {
        list-style-type: none;
        display: flex;
        justify-content: center;
    }
    .footer__socials_container li {
        margin-right: 8.4vw;
        margin-top: 19px;
        margin-left: 8.9vw;
    }
    .footer__socials_container a {
        color: #FFFFFF;
        font-size: 19px;
    }
}
.g_close {
    float: right;
    margin: -10px 15px !important;
}
@media (max-width: 400px) {
    .g_close {
        margin: -85px 15px !important;
    }
}
/*Carusel*/
.objects {
}
.objects h2 {
    font-family: 'Vida Pro 32';
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 33px;
    margin-left: 390px;
    margin-top: 34px;
}
.objects__container {
    background-color: #EAEAEA;
    position: relative;
    /*
    padding-left: 20px;
    padding-right: 20px;
    */
    width: 100%;
    overflow: hidden;
}
.objects__container_list {
    display: flex;
    justify-content: center;
    position: relative;
}
.objects__list_item {
    margin-right: 60px;
}
.objects__list_item h3 {
    font-family: 'Vida Pro 32';
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin-top: 40px;
    margin-bottom: 28px;
    text-align: center;
    width: 280px;
    height: 80px;
}
.objects__list_photo img {
    height: 280px;
    width: 280px;
    max-width: none;
    border-radius: 50%;
}
.objects__item_description {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 40px;
    width: 280px;
}
.objects__list_nav {
    position: absolute;
    top: 43%;
    width: 91.9vw;
    background-color: rgba(164, 15, 77, 0.970);
    display: flex;
    justify-content: space-between;
}
.objects__nav_button_right {
    height: 60px;
    width: 60px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    right: 23px;
    border: 1px solid #D6D1D1;
    border-radius: 50%;
    cursor: pointer;
}
.objects__nav_button_left {
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 43%;
    height: 60px;
    width: 60px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    border: 1px solid #D6D1D1;
    border-radius: 50%;
    cursor: pointer;
}
.objects__arrow_left {
    border: solid #C4C0C0;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 14px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-left: 13px;
}
.objects__arrow_right {
    border: solid #C4C0C0;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 14px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-right: 13px;
}
@media (min-width: 1540px) and (max-width: 1980px) {
    .objects h2 {
        margin-left: 140px;
    }
}
@media (min-width: 1240px) and (max-width: 1540px) {
    .objects h2 {
        margin-left: 174px;
    }
}
@media (min-width: 960px) and (max-width: 1240px) {
    .objects h2 {
        margin-left: 112px;
    }
}
@media (min-width: 640px) and (max-width: 960px) {
    .objects h2 {
        margin-left: 122px;
    }
}
@media (min-width: 320px) and (max-width: 640px) {
    .objects__list_item {
        margin-right: 60px;
    }
    .objects h2 {
        font-family: 'Vida Pro 32';
        font-weight: 400;
        font-size: 28px;
        line-height: 28px;
        text-align: left;
        text-transform: uppercase;
        margin-bottom: 33px;
        margin-left: 40px;
    }
}
.objects__container button.slick-next {
    background-image: url(../../img/images2/arrowslideright.png);
}
.objects__container button.slick-prev {
    background-image: url(../../img/images2/arrowslideleft.png);
}
.objects__container .slick-next, .objects__container .slick-prev {
    display: block;
    height: 100%;
    top: 60%;
    width: 161px;
    padding: 0 50px;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.2s;
}
.objects__container .slick-next {
    right: 0 !important;
    margin-top: 20px;
}
.objects__container .slick-prev {
    z-index: 1;
    left: 0px !important;
    margin-top: 20px;
}
.objects__container .slick-next:focus, .objects__container .slick-next:hover, .objects__container .slick-prev:focus, .objects__container .slick-prev:hover {
    background-position: center;
    background-repeat: no-repeat;
}
.objects__container button.slick-next::before {
    border-radius: 100px;
    content: ' ';
    display: block;
    width: 61px;
    height: 61px;
}
.objects__container .slick-next:before, .objects__container .slick-prev:before {
    content: none;
}
@media (max-width: 1368px) {
    .objects__container .slick-next {
        right: -35px !important;
        margin-top: 20px;
    }
    .objects__container .slick-prev {
        left: -35px !important;
        margin-top: 20px;
    }
    .objects__list_item h3 {
        height: max-content;
    }
}
.faq_active {
    background-color: rgb(234, 234, 234);
}
